Flask==3.0.0
joblib==1.3.2
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1646717514934/work
pandas==1.5.3
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1641580202195/work
scikit-learn==1.2.2
